<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/homepage">PGP Express</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/api/home/key-management">Key Management <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/home/encrypt">Encrypt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/home/sign">Sign</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/home/sign_verify">Sign Verify</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/home/decrypt">Decrypt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/home/teampage">About Us</a>
            </li>
        </ul>
    </div>
</nav>
<div class="main" id = "main">
    <h1 class="display-4">Revoke Key</h1>
    <form action="/api/auth/revoke_key" method="POST">

        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                placeholder= "<%= userEmail %>" value= "<%= userEmail %> " required readonly>
            <p id="emailValid" style="color: red"></p>
            <button type="submit" id="button_one" class="btn btn-primary" style = "display: inline" >Verify</button>
        </div>

        <div class="form-group" id = "password_ver" style="display: none">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        </div>
        <br>
        <button type="submit" id="submit" class="btn btn-primary" style="display: none">Revoke</button>
    </form>

    <hr>


    <hr>
    <h2>List of REVOKED keys</h2>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Date</th>
                <th scope="col">Key Status</th>
            </tr>
        </thead>
        <tbody class="keypair-list-container">
            <% for(var i = 0; i < value.length; i++) { %>
            <tr>

                <% if (value[i].public_key == 'REVOKED') { %>
                <td style="background-color:#ff7d7d" scope="col"><%= value[i].name %></td>
                <td style="background-color:#ff7d7d" scope="col"><%= value[i].email %></td>
                <td style="background-color:#ff7d7d" scope="col"><%= value[i].date %></td>
                <td style="background-color:#ff7d7d" scope="col"><b>REVOKED<b></td>
                <%} %>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>

<script>
    if("<%= message.length %>" != 0) {
        alert("<%= message %>")
    }
    const emailID = {
        email : '<%= userEmail %>'
    };
    var str = "Valid email";
    var userIn = document.getElementById('button_one');
    var ele = document.getElementById("submit");
    var ele1 = document.getElementById("emailValid");
    var ele2 = document.getElementById("password_ver");
    userIn.addEventListener("click", (event) => {
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "/api/auth/email" , true);
        xhttp.setRequestHeader('Content-Type', 'application/json');
        xhttp.send(JSON.stringify(emailID));
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                if (str.localeCompare(this.responseText) == 0) {
                    ele.style.display = "inline";
                    ele1.style.color = "green";
                    userIn.style.display = "none";
                    ele2.style.display = "inline";
                }
                else {
                    ele.style.display = "none";
                    ele1.style.color = "red";
                }
                document.getElementById("emailValid").innerHTML = this.responseText;
            }
        };
       
    });
</script>